.spining{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #8181818a;

    p{
        color: #11448b;
        margin-left: 10px;
    }
}